services:
  mlflow:
    image: python:3.11-slim
    ports:
      - "5555:5000"
    volumes:
      - ./mlruns:/mlruns
    working_dir: /app
    command: >
      sh -c "pip install --no-cache-dir mlflow &&
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:////tmp/mlflow.db
      --default-artifact-root /mlruns"
    environment:
      - MLFLOW_TRACKING_URI=http://localhost:5000
