{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Contract",
            "Exception"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "main"
        }
    },
    "mutators": {
        "@default": true,
        "@function_signature": false,
        "global-ignoreSourceCodeByRegex": [
            "assert.*",
            "throw new.*"
        ]
    },
    "minMsi": 70,
    "minCoveredMsi": 80,
    "phpUnit": {
        "configDir": ".",
        "customPath": "vendor/bin/phpunit"
    },
    "timeout": 30,
    "ignoreMsiWithNoMutations": true
}
