parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Allow mixed types in collections for now
        - '#Method .+Collection::.+ has parameter .+ with no value type specified in iterable type array#'
        - '#Method .+Collection::.+ return type has no value type specified in iterable type array#'